<%- include('header'); %>
<%- include('userbar'); %>
Tickets assigned to you:
<table cellpadding="5" cellspacing="0" width=100% border="1">
    <thead>
        <th>ID</th>
        <th>Date/time</th>
        <th>Description</th>
        <th>Created by</th>
        <th>Status</th>
        <th>Comment</th>
    </thead>
    <tbody>
        <% for (let i = 0; i < tickets.length; i++) { %>
        <tr>
            <td><%= tickets[i].id %></td>
            <td><%= new Date(tickets[i].timestamp).toLocaleString() %></td>
            <td><%= tickets[i].description %></td>
            <td>
                <%= users[tickets[i].created_by].fio %><br />
                <%= users[tickets[i].created_by].phone %>
            </td>
            <td>
                Closed:
                <input type="checkbox" onchange="setClosed(this)" data-id="<%= tickets[i].id %>"
                    <%= tickets[i].is_closed == 1 ? 'checked' : '' %> />
            </td>
            <td>
                <textarea rows="1" style="width:100%"
                    id="comment-<%= tickets[i].id %>"><%= tickets[i].comment %></textarea><br />
                <button onclick="setComment(this)" data-id="<%= tickets[i].id %>">Save</button>
                <span id="comment-error-<%= tickets[i].id %>"></span>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>

<script src="/main.js"></script>
<script>
    function setClosed(checkbox) {
        checkbox.disabled = true;
        let ticketId = checkbox.dataset.id;
        request.post(`/api/set_closed/${ticketId}`, { is_closed: checkbox.checked ? 1 : 0 })
            .then(response => response.json())
            .then(data => {
                checkbox.disabled = false;
                if (!data.ok)
                    checkbox.checked = !checkbox.checked;
            });
    }

    function setComment(button) {
        let ticketId = button.dataset.id;
        let textarea = el.id(`comment-${ticketId}`);
        let error = el.id(`comment-error-${ticketId}`);
        textarea.readonly = true;
        button.disabled = true;
        error.innerHTML = 'Sending request...';
        request.post(`/api/comment/${ticketId}`, { comment: textarea.value })
            .then(response => response.json())
            .then(data => {
                button.disabled = false;
                textarea.readonly = false;
                if (data.ok)
                    error.innerHTML = 'Saved successfully.';
                else
                    error.innerHTML = 'Internal server error.';
            });
    }
</script>
<%- include('footer'); %>
