<%- include('header'); %>
<%- include('userbar'); %>
<% if (ticket) { %>
    <div>
        <b>Ticket created</b> [<a href="/tickets">view all tickets</a>]<br />
        ID: <%= ticket.id %><br />
        Description: <%= ticket.description %>
    </div>
<% } %>
<form method="post">
    <textarea 
        rows="5" 
        style="width:100%" 
        name="description" 
        placeholder="Describe your problem here..."
    ></textarea>
    <button type="submit">Send</button>
</form>
<%- include('footer'); %>
