<%- include('header'); %>
<%- include('userbar'); %>
<div>
    <a href="/new">Create new ticket...</a>
</div>
<table cellpadding="5" cellspacing="0" width=100% border="1">
    <thead>
        <th>ID</th>
        <th>Date/time</th>
        <th>Description</th>
        <th>Created by</th>
        <th>Status</th>
        <th>Comment</th>
    </thead>
    <tbody>
        <% for (let i = 0; i < tickets.length; i++) { %>
            <tr>
                <td><%= tickets[i].id %></td>
                <td><%= new Date(tickets[i].timestamp).toLocaleString() %></td>
                <td><%= tickets[i].description %></td>
                <td><%= users[tickets[i].created_by].fio %></td>
                <td><%= tickets[i].is_closed == 1 ? 'Closed' : 'Opened' %></td>
                <td><%= tickets[i].comment %></td>
            </tr>
        <% } %>
    </tbody>
</table>
<%- include('footer'); %>
